.Header__stats {
	color: #d9d9d9;
	background-color: rgb(53, 55, 55);
	text-align: center;
    border-radius: 7px;
	min-height: clamp(130px, 20vw, 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Header {
	display: flex;
	align-items: center;
	gap: 20px;
}

.Header >* {
	flex: auto 1;
}

.Header__stats-todo {
	color: green;
	font-size: 35px;
	font-weight: 500;
}

.Header__stats-total {
	color: var(--add-save);
	font-size: 23px;
	font-weight: 500;
}
