.Header {
	padding: 3.25rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d9d9d9;
}
.Header__title {
	font-size: 2.56rem;
	font-weight: 400;
	max-width: 60%;
}

.Header__btn {
	font-size: 1.3125rem;
	line-height: normal;
	background: #d9d9d9;
	border: none;
	padding: 0.5em 1em;
}
