.Header__stats {
	color: #d9d9d9;
	background-color: rgb(53, 55, 55);
	text-align: center;
    border-radius: 7px;
	min-height: clamp(130px, 20vw, 150px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Header {
	display: flex;
	align-items: center;
	gap: 20px;
}

.Header >* {
	flex: auto 1;
}

