.NavBar  {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: blueviolet;
    height: 100px;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.NavBar>*:hover{
    cursor: pointer;
    scale: 1.02;
}

.NavBar__inactive {
    background-color: green;
}