.MainDisplay {
    position: absolute;
    width: 100%;
    /* max-height: 50%; */
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px 20px 100px 20px;
    gap: 10px;
}
