:root {
    --task-date-color: #5e4ae3;
}

/* .DisplayTasks__change-date {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
} */

.DisplayTasks__task {
    text-transform: capitalize;
    display: flex;
    border-radius: 7px;
    font-size: 20px;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
}

.DisplayTasks__task-data {
    gap: 5px;
    flex-direction: column;
}

.DisplayTasks__task-name {
    font-size: 30px;
}
.DisplayTasks__task-category {
    background-color: black;
    width: fit-content;
    color: white;
    padding: 3px 10px;
    border-radius: 7px;
}